*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(170, 111, 225, 0.6);
    height: 100vh;
    width: 100vw;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(57, 9, 89);
    width: 100vw;
    height: 65%;
}
.icon-section{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.left-icon{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin-left: 2rem;
}
.left-icon i{
    margin-right: 0.5rem;
}
.right-icon{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}
.right-icon i{
    margin-right:1rem ;
}
hr{
    opacity: 0.4;
}
.footer-main{
    display: flex;
    justify-content: space-around;
}
.points .fillup{
    display: flex;
    flex-direction: column;
}
.points .fillup input{
    height: 3rem;
    width: 18rem;
    margin-top: 3rem;
    padding: 0.25rem;
    font-size: 1.25rem;
    background-color:  rgb(57, 9, 89);
    border: 2px solid white;
    color: white;
    border-radius: 0.5rem;
}
.points .fillup button{
    height: 3rem;
    width: 18.75rem;
    margin-top: 1.25rem;
    padding: 0.25rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(57, 9, 89);
    border-radius: 0.5rem;
}
.points{
    color: white;
    margin: 1rem;
}
.points ul{
    margin-top: 1.5rem;
}
.points ul li{
    margin-top: 0.75rem;
}
.points hr{
    width: 2.5rem;
}
.footer-end{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 5rem;
    background-color: rgb(33, 2, 51);
    display: flex;
    justify-content: space-between;
}
.footer-end-left{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
}
.footer-end-right{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-right: 6rem;
}
